<mat-tab-group mat-align-tabs="start" id="tabGroup">
  <mat-tab label="PRÓXIMAS">
    <div fxLayout="row wrap" fxLayoutAlign="start center" id="tabDiv">
      <ng-container *ngFor="let live of livesNext" id="divFor">
        <mat-card class="mat-card-live"
        fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-live">
            <p class="row">
              <span id="liveName" fxFlex="70" fxLayoutAlign="start center">{{ live.liveName }}</span>
              <span fxFlex></span>
              <mat-chip class="mat-chip-date"  fxFlex="25" fxLayoutAlign="center center">
                <span id="liveDate">{{ live.liveDate | localDateTime }}</span>
              </mat-chip>
            </p>
            <p id="channelName" >
              {{ live.channelName }}
            </p>
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center center">
            <div>
              <iframe width="560" height="315" [src]="live.urlSafe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="REALIZADAS">
    <div fxLayout="row wrap" fxLayoutAlign="start center" id="tabDiv">
      <ng-container *ngFor="let live of livesPrevious" id="divFor">
        <mat-card class="mat-card-live"
        fxFlex="0 1 calc(33.3% - 11px)"
        fxFlex.lt-md="0 1 calc(50% - 11px)"
        fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-live">
            <p class="row">
              <span id="liveName" fxFlex="70" fxLayoutAlign="start center">{{ live.liveName }}</span>
              <span fxFlex></span>
              <mat-chip class="mat-chip-date"  fxFlex="25" fxLayoutAlign="center center">
                <span id="liveDate">{{ live.liveDate | localDateTime }}</span>
              </mat-chip>
            </p>
            <p id="channelName" >
              {{ live.channelName }}
            </p>
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center center">
            <div>
              <iframe width="560" height="315" [src]="live.urlSafe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>