#tabGroup {
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}

#tabDiv {
    padding: 2%;
}

#divFor {
    margin: 0.5%;
}

.mat-card-live {
    border: 1px solid #cfd8dc;
    border-radius: 4px 3px 6px / 2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 5px;
}

.mat-card-title-live {
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 15px;
    margin-bottom: 0px;
    min-height: 70px;
}

#liveName {
    font-size: 0.9rem;
}

#liveDate {
    font-size: 0.7rem;
}

#channelName {
    font-size: 0.7rem
}

.mat-chip-date {
    background-color: #90CAF9 !important;
    color: black !important;
}